.container{
    border-radius: 5px;
    border: 1px solid rgb(169, 168, 168);
    margin: auto;
    width: 200px;
}
.display{
    margin: 10px;
    width: 85%;  
    font-size: 25px;
    
}
#calbuttons{
    display: flex; 
     justify-content: center;
    flex-wrap: wrap;
 
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px; 

}